#imagesContainer {
    padding-left: 200px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 175px;
  }
  #left,
  #right,
  #middle {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
  }